<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGetV3" value="https://api.nuget.org/v3/index.json" />
    <add key="NuGetV2" value="https://www.nuget.org/api/v2/" />
    <add key="NancyFX bleeding edge builds" value="https://www.myget.org/F/nancyfx/api/v3/index.json" />
  </packageSources>
</configuration>